[include]
  path = ~/.gitconfiglocal
  path = ~/.gitconfigglobal

[alias]
  prune = fetch --prune
  undo = reset --soft HEAD^
  co = checkout
  st = status
  ci = commit -S
  br = branch
  co = checkout
  df = diff
  lg = log -p
  who = shortlog -s --
  dc = diff --cached
  amend = commit --amend -S
  aa = add --all
  head = !git l -1
  h = !git head
  r = !git --no-pager l -20
  ra = !git r --all
  ff = merge --ff-only
  pullff = pull --ff-only
  l = log --graph --abbrev-commit --date=relative
  la = !git l --all
  fa = fetch --all
  pom = push origin master

[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[merge]
  tool = nvimdiff

[status]
  showUntrackedFiles = all

[apply]
  whitespace = nowarn

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto

[core]
  excludesfile = ~/.gitignore
  editor = `which nvim`

[diff]
  tool = nvimdiff

[github]
  user = glanotte

[push]
  default = matching

[diff]
  tool = icdiff

[difftool]
  prompt = false

[difftool "icdiff"]
  cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE

[commit]
  gpgsign = true
